<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277811323280-tg8o155miqfhhcjph7s48idns6dufhgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277811323280-tg8o155miqfhhcjph7s48idns6dufhgl</string>
	<key>API_KEY</key>
	<string>AIzaSyDkRtNY_OZAQ2txoBeF6KvxxuICZW2hm3k</string>
	<key>GCM_SENDER_ID</key>
	<string>277811323280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Messanger</string>
	<key>PROJECT_ID</key>
	<string>messanger-7d589</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-7d589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277811323280:ios:3852a66bd8aedb755a9315</string>
</dict>
</plist>